:root{
   --message-width : 80vw; 
}


.message_item{
    background-color: #fff;
    width: var(--message-width);
    overflow: hidden;
}

 .chat_container{

    min-height: 90vh;
    padding-bottom: 5vh;
 }

 .message_input{
    position: fixed;
    width: 90%;
    bottom: 2vh;
    left: 5%;
    margin : 0 10px;
 }