.top_bar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 100%;
}


.main_menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


