.site-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.layout_sider{
    z-index: 10;
}

@media (max-width : 480px){
    .layout_sider{
    
        
    }
}